<nav id="sidebar" class="active">
    <div class="sidebar-header">
        <img src="~/Content/images/banner.png" alt="MSC Intranet" class="app-logo" style=" width: 100%;" />
    </div>
    <ul class="list-unstyled components text-secondary">
         
    </ul>
</nav>